/* Global styles */
* {
    margin: 0px;
    padding: 0px;
}

/* Google FOnt STyles */
.quicksand-400 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-500 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.quicksand-600 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.quicksand-700 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway-500 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* SHared Styles */
.container {
    max-width: 1160px;
    margin: 0 auto;
}

body {
    background-color: #f7f7f7;
}

.vanish {
    display: none;
}

/* Navigation bar styles */
header {
    margin: 35px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav button {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    border: 0;
    background: rgb(254, 163, 1);
    color: aliceblue;
}

nav button:hover {
    cursor: pointer;
}

#nev-log {
    display: flex;
    align-items: center;
    gap: 15px;
}

#nev-log>h3 {
    font-size: 32px;
    color: rgb(17, 17, 17);
}

#nev-menu>ul {
    display: flex;
    gap: 18px;
}

#nev-menu li {
    list-style: none;
}

#nev-menu li>a {
    text-decoration: none;
}

#nev-burg>img {
    width: 40px;
    height: 35px;
}

#ho1 {
    color: rgb(254, 163, 1);
    font-size: 20px;
}

#ao1 {
    color: skyblue;
    font-size: 20px;
}

#fo1 {
    color: turquoise;
    font-size: 20px;

}

#ado1 {
    color: blueviolet;
    font-size: 20px;
}