/* Google FOnt STyles */
.quicksand-400 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-500 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.quicksand-600 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.quicksand-700 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway-500 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* SHared Styles */
.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Navigation bar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid tomato;
}

#nev-log {
    display: flex;
    align-items: center;
    gap: 15px;
}

#nev-log>h3 {
    font-size: 32px;
    color: rgb(17, 17, 17);
}